<div class="wrapper">
  <!-- Navigation -->
  <div class="content">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
      <a class="navbar-brand" routerLink="/books">Online Bookstore</a>

      <!-- search component -->
      <app-search></app-search>

      <!-- cart-status component -->
      <div class="ml-auto">
        <app-cart-status></app-cart-status>
      </div>

    </nav>
    <br />
    <!-- Page Content -->
    <div class="container">
      <router-outlet></router-outlet>
    </div>
  </div>
  <!-- /.container -->

  <!-- Footer -->
  <footer class="py-5 footer">
    <div class="container">
      <p class="text-center text-dark">
        Copyright &copy; Sergii Vakaliuk 2023
      </p>
    </div>
    <!-- /.container -->
  </footer>
</div>
